.radio-button {
  margin-left: 50px;
}

#footer {
  margin-top: 50px;
}

#header {
  margin-bottom: 2%;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

section {
  padding-top: 0px !important;
}

.breadcrumb {
  background-color: #ffffff !important;
}

/* default value for mobile phone first */

/* For tablets: */
@media only screen and (min-width: 600px) {

}

/* For desktop: */
@media only screen and (min-width: 768px) {

}
