.radio-button {
  margin-left: 50px;
}

#footer {
  margin-top: 50px;
}

#header {
  margin-bottom: 2%;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

section {
  padding-top: 0px !important;
}

.breadcrumb {
  background-color: #ffffff !important;
}

#post-index-article-default {
  display: none;
}





/* Image */
.image {
  display: block;
  width: 100%;
}

.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(http://lorempixel.com/80/80/people) 50% 50% no-repeat;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
}

/* h tag */
.panel>.panel-heading>h3 {
  margin: 0;
}

/* Navbar */
.btn.dropdown-toggle ~ .dropdown-menu, 
ul.nav li.dropdown ul.dropdown-menu {
    background-color: rgb(244, 244, 244);
	background-color: rgb(255, 255, 255);
	border: 0 solid rgb(66, 133, 244);
	box-shadow: 0px 0px 3px rgba(25, 25, 25, 0.3);
	top: 0px;
	margin: 0px;
    padding: 0px;
}
ul.nav li.dropdown ul.dropdown-menu {
    position: absolute;
    width: 100%;
}
.dropdown-menu .dropdown-plus-title {
	width: 100%;
	color: rgb(51, 51, 51);
	padding: 6px 12px;
	font-weight: 800;
	border: 0 solid rgb(173, 173, 173);
	border-bottom-width: 2px;
	cursor: pointer;
}

ul.nav li.dropdown ul.dropdown-menu .dropdown-plus-title {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.btn.dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-plus-title {
    border-color: rgb(53, 126, 189);
}
.btn.dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-plus-title {
    border-color: rgb(76, 174, 76);
}
.btn.dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-plus-title {
    border-color: rgb(70, 184, 218);
}
.btn.dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-plus-title {
    border-color: rgb(238, 162, 54);
}
.btn.dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-plus-title {
    border-color: rgb(212, 63, 58);
}

@media (min-width: 768px) {
    ul.nav li.dropdown ul.dropdown-menu .dropdown-plus-title {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media (min-width: 768px) {
    ul.nav li.dropdown ul.dropdown-menu {
        width: auto;
    }
}
/* End Navbar */

.width-100-percent {
  width: 100%;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
.required {
  color: red;
}

.well {
  background-color: #f5fffa !important;
}